#content{
	width:1010px;
	height: 580px;
	float:left;
	z-index:4;
	position:relative;
}
#main{
	width:650px;
	height: 380;
	float:left;
	background-color:#FFF;
	margin-top: 10px;
}
#side {
	float:right;
	width:228px;
	margin-top: 18px;
	margin-right: 10px;
}
.side_box {
	margin-bottom:8px;
	background-color: #FFCD11;
}
.side_box h2 { height:25px; padding:6px 10px 0 10px; background:url(../images/side_bg.gif) 0 0 no-repeat; font-size:14px; color:#444;}
.side_box h2 strong {
	color:#000;
}
.side_con {
	padding:10px;
	background-color: #CCC;
}
