@charset "utf-8";
#nav_container{
	width:100%;
	height:27px;
	margin:auto;
	margin-bottom:0px;
	background-color: #FFCD11;
	font-size:14px;
	position:absolute;
	z-index:5;
	top: 63px;
	}
 
*{
	padding:0;
	border:0;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
} 
#shadow{
	width:100%;
	height:8px;
	margin:auto;
	margin-top:25px;
	margin-bottom:0px;
	background-image: url(../image/shadow.gif);
	background-repeat: repeat-x;
}

#nav {
	line-height: 27px;
	list-style-type: none;
	background:#FFCD11;
	overflow:autol; zoom:1;
	z-index:100;
} 
#nav a { 
display: block; width: 102px; text-align:center; 
} 
#nav a:link {
	color:#000;
	text-decoration:none;
} 
#nav a:visited {
	color:#000;
	text-decoration:none;
} 
#nav a:hover {
	color:#FFF;
	text-decoration:none;
} 
#nav li { 
float: left; width: 125px;
} 
#nav li a:hover{ 
background:#000; 
} 
#nav li ul { 
line-height: 27px; list-style-type: none;text-align:left; 
left: -999em; width: 180px; position: absolute; text-decoration:none; 
} 
#nav li ul li{ 
float: left; width: 180px; 
background: #FFF; 
border:1px solid #CCC ;
text-decoration:none; 
} 
#nav li ul a{ wedisplay: block; width: 156px;text-align:left;padding-left:24px; text-decoration:none; 
} 
#nav li ul a:link { 
color:#000; text-decoration:none; 
} 
#nav li ul a:visited { 
color:#000;text-decoration:none; 
} 
#nav li ul a:hover {
	color:#FFF;
	text-decoration:none;
	font-weight:normal;
	background:#000;
} 
#nav li:hover ul { 
left: auto; 
} 
#nav li.sfhover ul { 
left: auto; 
} 
#content { 
clear: left; 
} 
 
