@charset "utf-8";
#nav_container{
	float:left;
	width:900px;
	height:27px;
	margin:auto;
	margin-bottom:0px;
	background-color: #06C;
	font-size:14px;
	z-index:5;
	top: 63px;
	position:absolute;
	overflow:autol; zoom:1;
	}
 
*{
	padding:0;
	border:0;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
} 

#nav {
	line-height: 27px;
	list-style-type: none;
	background:##06C;
	overflow:autol; zoom:1;
	z-index:100;
} 
#nav a { 
display:block; width: 92px; text-align:center; 
} 
#nav a:link {
	color:#CCC;
	text-decoration:none;
} 
#nav a:visited {
	color:#CCC;
	text-decoration:none;
} 
#nav a:hover {
	color:#CCC;
	text-decoration:none;
	display:block;
} 
#nav li { 
float: left; width: 125px;
} 
#nav li a:hover{ 
background:#000; 
display:block;
} 
#nav li ul { 
line-height: 24px; list-style-type: none;text-align:left; 
left: -999em; width: 180px; position: absolute; text-decoration:none; 
display:block;
} 
#nav li ul li{ 
float: left; width: 180px; 
background: #CCC; 
border:1px solid #CCC ;
text-decoration:none; 
} 
#nav li ul a{ wedisplay: block; width: 156px;text-align:left;padding-left:24px; text-decoration:none; 
} 
#nav li ul a:link { 
color:#000; text-decoration:none; 
} 
#nav li ul a:visited { 
color:#000;text-decoration:none; 
} 
#nav li ul a:hover {
	color:#FFF;
	text-decoration:none;
	font-weight:normal;
	background:#000;
} 
#nav li:hover ul { 
left: auto; 
} 
#nav li.sfhover ul { 
left: auto; 
} 
#content { 
clear: left; 
} 
 
