
* { padding:0; margin:0;}
.main {width:480px;}
.left { float:left; width:200px;background:#C9F;}
.right { margin-left:200px; background:#CCCC66; height:240px;}
.clearfloat {clear:both;height:0;font-size: 1px;line-height: 0px;}
.footer {width:480px; height:60px; background:#99CC66; margin-bottom:6px; font-size:18px; font-weight:bold;}


