body {
	margin:0 auto;
	font-size:13px;
	font-family:Verdana;
	line-height:1.5;
}


ul,dl,dd,h1,h2,h3,h4,h5,h6,form,p { padding:0; margin:0;}
ul { list-style:none;}

#header{
	width:100%;
	height:65px;
	margin:auto;
	background-color: #FFF;	
}

#logo{
	float:left;
	margin-top:11px;
	margin-left:20px;
}
#slect{
	float:right;
	background-image:url(../image/header2.gif);
	width:320px;
	height:24px;
	text-decoration: none;
}
#topnav{
	font-size:12px;
	float:right;
	margin-right:25px;
	color: #CCC;
	text-decoration: none;
	}
#topnav a{text-decoration:none; color:#CCC;}
#topnav a:link{text-decoration:none; color:#CCC;}
#topnav a:hover{text-decoration:none; color:#FF3;}
#topnav a:visted{text-decoration:none; color:#CCC;}
#topnav a:active{text-decoration:none;color:#FFF;}

#clearfloat {clear:both;height:0;font-size: 1px;line-height: 0px;}
#footer {
	float:left;
	height:80px;
	width:100%;
	text-align:center;
	font-size:12px;
	background-color: #CCC;
	position:relative;
}
